@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 56px 48px 92px;
  max-width: 984px;
}

@media screen and (max-width: 1080px) {
  .lead {
    padding: 48px 48px 92px;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }
}


@media screen and (max-width: 864px) {
  .lead {
    padding: 48px 0 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100vw;
  }

  .lead__caption {
    padding-left: 24px;
  }
}

/* Доделать переходы и масштабирование текста + line-hieght в % */

/*

@media screen and (max-width: 792px) {
  .lead__caption {
    align-self: flex-end;
    margin: 8px 585.39px 0 auto;
    padding-right: calc(100vw - 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 48px 0 88px;
  }
  .lead__caption {
    align-self: start;
    margin: 8px 0 0;
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 13.3333vw;
    line-height: 13.88888vw;
    width: 100%;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    margin: 16px auto 40px;
  }

} */
