.footer__link {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .3s linear;
}

@media screen and (max-width: 736px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
