.footer__copyright {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

@media screen and (max-width: 736px) {
  .footer__copyright {
    margin-top: 48px;
    align-self: start;
  }
}
