.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 48px;
  grid-area: website;
}

@media screen and (max-width: 523px) {
  .place__website {
    display: none;
  }
}
